<li id="message-<%= message.id %>" class="<%= self_or_other(message, haunt) %>">
  <div class="head">
    <span class="time"><%= message.created_at.strftime("%H:%M %p") %></span>
    <span class="name"><%= message_interlocutor(message).display_name %></span>
  </div>
  <div class="message"><%= message.content %></div>
</li>
