<li id="online-<%= haunt.id %>">
  <%= image_tag haunt.avatar.url.to_s, width: "50", height: "50", class: "#{set_availability_class_img(haunt.id, appearences_ids)}" %>
  <div class="info">
    <div class="user"><%= link_to haunt.display_name, haunt, class: "online-link" %></div>
    <div class="status <%= set_availability_class(haunt.id, appearences_ids) %>"> <%= set_availability_text(haunt.id, appearences_ids) %></div>
  </div>
</li>
