<!DOCTYPE html>
<html>
  <head>
    <title>Hangout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-active-haunt=<%= current_haunt.try(:id) %> >
    <ul>
      <% if haunt_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_haunt_session_path, :method => :delete) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_haunt_session_path)  %>
        </li>
      <% end %>
    </ul>
    <%= render 'layouts/flash_messages' %>

    <div class="ui">
      <div class="left-menu">
        <form action="#" class="search">
          <input placeholder="search..." type="search" name="" id="">
          <input type="submit" value="&#xf002;">
        </form>
        <menu class="list-friends">
          <% @appearances.each do |haunt| %>
            <%= render partial: "haunts/online", locals: {haunt: haunt, appearences_ids: $redis_onlines.keys.collect(&:to_i)} %>
          <% end %>
        </menu>
      </div>
      <div class="chat">
        <%= yield %>
    </div>

    <audio id="chatAudio"><source src="<%= asset_path '/assets/notification.mp3' %>" type="audio/mpeg"></audio>
    <audio id="sendAudio"><source src="<%= asset_path '/assets/send.mp3' %>" type="audio/mpeg"></audio>
  </body>
</html>
